p {
    font-size: 25px;
    color: dodgerblue;
    font-family: sans-serif;
}
p {
    background-color: red;
    width: 100%;
    height: 1000px;
}
       /*just comment */
h1 {
    color: dodgerblue;
}
* {
    font-size: large;
    font-family: sans-serif;
}
*{
    margin: 0;
}